---

---

<header>
	<nav>
	  <a href="https://frostmute-astro.netlify.app/">
		Jonathan J Wagner
	  </a>
	  <ul>
		<li><a href="/">Home</a></li>

	  </ul>
	</nav>
	<section>
        <h1>A Collection of Things and Stuff</h1>
        <p>Yada Yada Yada</p>
      </section>
  </header>
  <hr>